// it will make css applied to first object since it won't be applied due to float values
@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin addCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//Media Queries for responsive design

@mixin respond($breakpoint) {
  @if $breakpoint==phone {
    @media (max-width: 37.5rem) {
      @content;
    }
  }
  @if $breakpoint==tab-port {
    @media (max-width: 56.25rem) {
      @content;
    }
  }
  @if $breakpoint==tab-land {
    @media (max-width: 75rem) {
      @content;
    }
  }
  @if $breakpoint==desktop {
    @media (min-width: 112.5rem) {
      @content;
    }
  }
}
